:root {
    --main-color: #73C4E6;
    --non-white-bg-text: #ffffff;
    /* --main-color: red; */
}

@font-face {
    font-family: mainFont;
    src: url("static/RobotoSlab-Regular.ttf");
}

* {
    font-family: Calibri;
}

body {
    margin:0px;
}

h3 {
    margin: 0;
}

div.app {
    margin: 0px;
    padding: 0px;
}

div.main-content {
    margin: 8px;
    padding: 8px;
    display: flex;
    flex-direction: row;
}

div.file-upload-and-explorer{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    flex-grow: 1;
    border: solid black 1px;
    max-width: 360px;
    /* padding: 2%; */

}

div.graph-display-and-selection {
    margin: 8px;
    padding: 8px;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    flex-grow: 3;
}

div#graph-container {
    margin: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    width: 720px;
    height: 720px;
}

div.help-text {
    width: 500px;
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 10px;
    font-size: 30px;
}

#actual-help-text {
    margin-bottom: 0px;
}

div.container-div {
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    height: 700px;
    /* border: 1px solid black;
    padding: 20px; */
}

div.column-selection-form {
    display: flex;
    flex-direction: column;
}

div.input-form {
    margin: 8px;
    padding: 8px;
    border: 1px solid black;
}

div.header {
    background-color: var(--main-color);
    text-align:left;
    padding:20px;
    color: var(--non-white-bg-text);
}

div.header-wrap {
    margin-left: 20px;
}

.explorer-main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 25px 25px 25px 25px;
    border: 1px solid #000;
    width: 300px;
    /* top, right, bottom,  left*/
}

#uploaded-header {
    align-self: left;
}

ul {
    list-style: none;
    padding-left: 0px;
}

li {
    list-style: none;
    padding: 0px;
    border-bottom: solid 1px #ccc;
}



form.file-explorer {
    /* margin: 8px auto; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
    overflow: scroll;
    height: 300px;
    width: 300px;
    border: 1px solid #000;
    /* margin: 10px; */
}

.remove-button {
    margin-bottom: 19.9167px;
}

#file-input {
    /* color: orange */
}

form.fire-explorer > li {
    padding-left: 10px;
    border-bottom: 1px solid #ccc;

    &:last-child {
        border-bottom: none;
    }
}



#drop-area {
    border: 1px solid #000;
    /* border-radius: 20px; */
    /* width: 480px; */
    width: 200px;
    height: 200px;
    font-family: sans-serif;
    margin: 100px auto;
    padding: 20px;
    background-color: #e4e1e1;

    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  #drop-area.highlight {
    border-color: purple;
  }
  p {
    margin-top: 0;
  }
  .my-form {
      margin: 10%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      /* align-self: center; */
    /* margin-bottom: 10px; */
    /* text-align: center; */
  }
  .button {
    display: inline-block;
    /* padding: 2px; */
    /* background: #ccc; */
    background: var(--main-color);
    cursor: pointer;
    border-radius: 5px;
    border: 1px solid #ccc;
    color: var(--non-white-bg-text);
    text-align: center;
    padding: 3px;
  }
  .button:hover {
    background: #ddd;
  }
  #fileElem {
    display: none;
  }

  h2 {
      /* margin: 0px; */
  }

  .column-selection {
      height: 20px;
  }